{% extends 'base.html' %}

{% block title %}Archivos{% endblock %}

{% block content %}
<div class="row">
    <!-- Barra lateral -->
    <div class="col-md-2">
        <div class="sidebar bg-light p-3">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#subirArchivosForm" aria-expanded="false" aria-controls="subirArchivosForm">
                Subir archivos
            </button> <br><hr>
            <a href="{{ url_for('tareas') }}" class="btn btn-secondary d-block">Tareas</a>
        </div>
    </div>
    
        <!-- Contenido principal -->
        <div class="col-xs-12 col-md-10">
            <div class="content">  <!-- Configuracion temporal para el contenido, buscando disposicion final-->

                <div class="collapse mt-3" id="subirArchivosForm">
                    <form method="POST" action="{{ url_for('upload') }}">
                        <h2>Subir archivos</h2>
                        <input class="form-control mb-2" type="file" name="file" required>
                        <button type="submit" class="btn btn-primary">Subir</button>
                    </form>
                </div>

                <h1>Archivos</h1>
                {% for archivo in files %}
                <div class="row align-items-center mb-3 mt-3"> 
                    <div class="col-xs-12 col-md-2">{{ archivo.nombre }}</div>                   
                    <div class="col-xs-12 col-md-8">
                        <form method="POST" action="/delete/{{ archivo.id }}">
                            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
                <hr class="my-1"> 
                {% endfor %}
            </div>
        </div>
</div>

    {% endblock %}