<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Para usar Bootstrap -->
</head>
<body>
    <header class="bg-light py-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h4 mb-0">Bienvenido, {{ nombre_usuario }}</h1>
                <div>
                    <a href="#" class="btn btn-outline-secondary mr-2">Busqueda</a>
                    <a href="/logout" class="btn btn-outline-danger">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="bg-light py-3 mt-5">
        <div class="container">
            <p class="mb-0">Álvaro Díez Sáenz - Todos los derechos reservados</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('abrirPopup').addEventListener('click', function() {
            window.open('/upload', 'popup', 'width=600,height=400');
        });
    </script>
</body>
</html>
