{% extends 'base.html' %}

{% block title %}Grupos{% endblock %}

{% block content %}
<div class="row">
    <!-- Barra lateral -->
    <div class="col-md-2">
        <div class="sidebar bg-light p-3">
            <h2 >  </h2>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#crearGruposForm" aria-expanded="false" aria-controls="crearGruposForm">
                Crear Grupo
            </button> <br><hr>
            <a href="{{ url_for('archivos') }}" class="btn btn-secondary d-block">Archivos</a>
            <br>
            <a href="{{ url_for('tareas') }}" class="btn btn-secondary d-block">Tareas</a>
            
        </div>
    </div>
    
    <!-- Contenido principal -->
    <div class="col-xs-12 col-md-10">
        <div class="content">  <!-- Configuracion temporal para el contenido, buscando disposicion final-->

            <div class="collapse mt-3" id="crearGruposForm">
                <form method="POST" action="{{ url_for('crear_grupo') }}">
                    <h2>Crear Grupo</h2>
                    <input class="form-control mb-2" type="text" name="nombre" placeholder="Nombre del grupo" required>
                    <textarea class="form-control mb-2" name="descripcion" placeholder="Descripción del grupo" required></textarea>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>

            <h1>Grupos</h1>
            <div class="row">
                {% for grupo in grupos %}
                <div class="col-md-3 mb-3">
                    <a href="{{ url_for('ver_grupo', grupo_id=grupo.id) }}" class="text-dark">
                        <div class="card shadow-sm p-2">
                            <div class="card-body">
                                <h5 class="card-title ">{{ grupo.nombre }}</h5>
                                <p class="card-text mb-2">{{ grupo.descripcion }}</p>
                                <!-- Archivos -->
                                {% if grupo.propietario_id != current_user.id %}
                                </a>
                                <form action="{{ url_for('abandonar_grupo', grupo_id=grupo.id) }}" method="post">
                                    <button type="submit" class="btn btn-outline-danger">Dejar grupo</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    {% endblock %}