{% extends 'base.html' %}

{% block title %}{{ grupo.nombre }}{% endblock %}

{% block content %}
<div class="row">
    <!-- Barra lateral -->
    <div class="col-md-2">
        <div class="sidebar bg-light p-3">
            <a href="{{ url_for('ver_grupos') }}" class="btn btn-secondary">Todos mis grupos</a>
            <br><hr>
            <h5>Miembros</h5>
            <ul class="list-group">
                {% for miembro in miembros %}
                <li class="list-group-item">{{ miembro.usuario }}</li>
                {% endfor %}
            </ul>
        </div> 
        
    </div>
    
    <!-- Contenido principal -->
    <div class="col-xs-12 col-md-10">
        <div class="content">
            <h1>{{ grupo.nombre }}</h2>
            <p>{{ grupo.descripcion }}
            {% if current_user.id == grupo.propietario_id %}
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#editGrupo{{ grupo.id }}" aria-expanded="false" aria-controls="editGrupo{{ grupo.id }}">
                <i class="fas fa-pencil-alt"></i>
            {% endif %}
            </button></p>

            <div class="collapse" id="editGrupo{{ grupo.id }}">
                <form method="POST" action="{{ url_for('editar_grupo', grupo_id=grupo.id) }}">
                    <input class="form-control mb-2" type="text"  id="nombre{{ grupo.id }}" name="nombre" value="{{ grupo.nombre }}" required>
                    <textarea class="form-control mb-2" id="descripcion{{ grupo.id }}" name="descripcion" rows="2" required>{{ grupo.descripcion }}</textarea>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>                
            </div>

            <hr>
            
            <!-- Solo propietario, invitar usuario -->
            {% if current_user.id == grupo.propietario_id %}
            <div class="admin-section bg-light p-3 mb-3"  >
                <h5 data-toggle="collapse" data-target="#adminContent" style="cursor: pointer;">Administración del Grupo</h5>
                <div class="collapse" id="adminContent">
                    <button class="btn btn-primary mb-2 mr-1" type="button" data-toggle="collapse" data-target="#invitarForm" aria-expanded="false" aria-controls="invitarForm">
                        Invitar usuario
                    </button>
                    <div class="collapse mb-2" id="invitarForm">
                        <form method="POST" action="{{ url_for('invitar_usuario', grupo_id=grupo.id) }}">
                            <div class="form-group">
                                <label for="email">Correo electrónico del usuario</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar invitación</button>
                        </form>
                    </div>
                    
                    <button class="btn btn-danger mb-2 mr-1" type="button" data-toggle="collapse" data-target="#eliminarForm" aria-expanded="false" aria-controls="eliminarForm">
                        Eliminar usuario
                    </button>
                    <div class="collapse mb-2" id="eliminarForm">
                        <form method="POST" action="{{ url_for('eliminar_miembro', grupo_id=grupo.id) }}">
                            <div class="form-group">
                                <label for="usuario_id">Seleccionar usuario</label>
                                <select class="form-control" id="usuario_id" name="usuario_id" required>
                                    <option value="" disabled selected>Seleccionar usuario</option>
                                    {% for miembro in miembros %}
                                    {% if miembro.id != grupo.propietario_id %} <!-- Para que no pueda expulsarse al propietario-->
                                    <option value="{{ miembro.id }}">{{ miembro.usuario }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-danger">Confirmar</button>
                        </form>
                    </div>  
                    <form method="POST" action="/delete_grupo/{{ grupo.id }}" class="d-inline mr-1">
                        <button type="submit" class="btn btn-outline-danger mb-2 mr-1">Eliminar grupo</button>
                    </form>  
                </div>     
            </div>
            <hr>
            {% endif %}

            <h2>Archivos</h1>
            <div class="row">
                {% for archivo in archivos %}
                <div class="col-md-3 mb-3">
                    <div class="card shadow-sm p-2">
                        <div class="card-body">
                            <div class="card-title h6">{{ archivo.nombre }}
                                <a href="{{ url_for('descargar_archivo', archivo_id=archivo.id) }}" class=" ml-2 ">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>   
                            {% if archivo.propietario_id == current_user.id %}
                                <form method="POST" action="{{ url_for('descompartir_archivo_grupo', archivo_id=archivo.id, grupo_id=grupo.id) }}">
                                    <button type="submit" class="btn btn-danger btn-sm mt-2">Dejar de compartir</button>
                                </form>
                            {% endif %}                    
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h1>Tareas</h1>
            <div class="row">
                {% for tarea in tareas %}
                <div class="col-md-3 mb-3">
                    <div class="card shadow-sm p-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ tarea.titulo }}</h5>
                            <p class="card-text">{{ tarea.descripcion }}</p>
                            {% if tarea.propietario_id == current_user.id %}
                            <form method = "POST" action="{{ url_for('descompartir_tarea_grupo', tarea_id=tarea.id, grupo_id=grupo.id) }}" >
                                <button type="submit" class="btn btn-danger">Dejar de compartir</button>
                            </form>
                            {% endif %}   
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
