{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row p-5">
        <div class="col-md-6 ">
            <div class="d-flex justify-content-between align-items-center ">
                <h3>Mis Archivos y Notas</h2>
                <div>
                    <button class="btn btn-outline-secondary btn-sm">Subir Archivo</button>
                    <button class="btn btn-outline-secondary btn-sm">Crear Nota</button>
                </div>
            </div>
            <div class="rounded-lg shadow p-4">
                {% for archivo in files %}
                <div class="d-flex justify-content-between align-items-center mb-3 ">
                    <div>
                        {{ archivo.nombre }}
                        <br>
                        <small>Fecha de subida: {{ archivo.fecha_subida.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <form method="POST" action="/delete/{{ archivo }}">
                        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="d-flex justify-content-between align-items-center ">
                <h3>Mis Grupos</h2>
                <button class="btn btn-outline-secondary btn-sm">Crear Grupo</button>
            </div>
            <div class="rounded-lg shadow p-4">
                {% for grupo in grupos %}
                <div class="d-flex justify-content-between align-items-center ">
                    <div>
                        <div>{{ grupo.nombre }}</div>
                        <small>{{grupo.descripcion}}</small>
                    </div>
                    <button class="btn btn-outline-primary btn-sm">Ver</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
