<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main">
        <h1 class="titulo">Login</h1>
        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
        <form method="post" action="/login">
            <!--<label for="usuario">Usuario:</label><br>-->
            <input class="campo" type="text" id="email" name="email" placeholder="Email" required><br>
            <!--<label for="contraseña">Contraseña:</label><br>-->
            <input class="campo" type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required><br><br>
            <input type="submit" class ="submit" value="Iniciar sesión">
            <p> <a  href="{{url_for('registro')}}"> Crear una cuenta</a></p>
        </form>
    </div>
</body>
</html>
