<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    <form method="post" action="/registro">
        <label for="usuario">Usuario:</label><br>
        <input type="text" id="usuario" name="usuario" required><br>
        <label for="contraseña">Contraseña:</label><br>
        <input type="password" id="contraseña" name="contraseña" required><br><br>
        <input type="submit" value="Registrarse">
    </form>
</body>
</html>
