{% extends 'base.html' %}

{% block title %}Tareas{% endblock %}

{% block content %}
<div class="row">
    <!-- Barra lateral -->
    <div class="col-md-2">
        <div class="sidebar bg-light p-3">
            
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#crearTareaForm" aria-expanded="false" aria-controls="crearTareaForm">
                Crear Nueva Tarea
            </button> <br><hr>
            <a href="{{ url_for('archivos') }}" class="btn btn-secondary d-block">Archivos</a>
            <br>
            <a href="{{ url_for('ver_grupos') }}" class="btn btn-secondary">Todos mis grupos</a>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="col-xs-12 col-md-10">
        <div class="content">

            <div class="collapse mt-3" id="crearTareaForm">
                <form method="POST" action="{{ url_for('tareas') }}">
                    <h2>Nueva Tarea</h2>
                    <input class="form-control mb-2" type="text" id="titulo" name="titulo" placeholder="Título" required>
                    <textarea class="form-control mb-2" id="descripcion" name="descripcion" placeholder="Descripción" rows="2" required></textarea>
                    <button type="submit" class="btn btn-primary">Agregar Tarea</button>
                    <hr class="my-1">
                </form>
            </div>

            <h2>Lista de Tareas</h2>
            {% for tarea in tareas %}
            <div class="row align-items-center mb-3 mt-3">
                <div class="col-xs-12 col-md-9">
                    <h5>{{ tarea.titulo }}</h5>
                    <p>{{ tarea.descripcion }}</p>
                </div>
                <div class="col-xs-12 col-md-3 text-right">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#editForm{{ tarea.id }}" aria-expanded="false" aria-controls="editForm{{ tarea.id }}">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <form method="POST" action="{{ url_for('delete_tarea', tarea_id=tarea.id) }}" class="d-inline">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    <button class="btn btn-primary mr-1" type="button" data-toggle="modal" data-target="#compartirTarea{{ tarea.id }}">
                        Compartir
                    </button>
                </div>
            </div>

            <div class="collapse" id="editForm{{ tarea.id }}">
                <form method="POST" action="{{ url_for('editar_tarea', tarea_id=tarea.id) }}">
                    <input class="form-control mb-2" type="text"  id="titulo{{ tarea.id }}" name="titulo" value="{{ tarea.titulo }}" required>
                    <textarea class="form-control mb-2" id="descripcion{{ tarea.id }}" name="descripcion" rows="2" required>{{ tarea.descripcion }}</textarea>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>                
            </div>

            <hr class="my-1">
            <!-- Modal Compartir Tarea -->
            <div class="modal fade" id="compartirTarea{{ tarea.id }}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Compartir Tarea</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{{ url_for('compartir_tarea_grupo') }}">
                            <div class="modal-body">
                                <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
                                <div class="form-group">
                                    <label for="grupo_id">Seleccionar Grupo</label>
                                    <select class="form-control" name="grupo_id" id="grupo_id" required>
                                        <option value="" disabled selected>Seleccionar Grupo</option>
                                        {% for grupo in grupos %}
                                            <option value="{{ grupo.id }}">{{ grupo.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
